.footer {
    padding: 60px 0 50px;
    background-color: var(--black);

    .container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1200px;
    }

    .social__link {
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            font-size: 40px;
            color: var(--white);
            transition: all 0.2s ease;
        }

        a:hover {
            color: var(--green);
        }
    }
}
